SECRET_KEY=''
DEBUG=

ENGINE='django.db.backends.postgresql_psycopg2'
NAME=''
USER=''
PASSWORD=''
HOST=''
PORT=''

# Email Configuration
EMAIL_BACKEND=''
EMAIL_HOST=''
EMAIL_PORT=587
Email_USE_TLS=True
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=''

CLOUD_NAME=''
API_KEY=''
API_SECRET=''

